cargo-features = ["workspace-inheritance"]

[package]
name = "helium-sub-daos"
version = "0.0.11"
description = "Created with Anchor"
edition = "2021"

[lib]
crate-type = ["cdylib", "lib"]
name = "helium_sub_daos"

[features]
devnet = []
no-genesis = []
no-entrypoint = []
no-idl = []
no-log-ix-name = []
cpi = ["no-entrypoint"]
default = []

[profile.release]
overflow-checks = true

[dependencies]
anchor-lang = { workspace = true }
anchor-spl = { workspace = true }
mpl-token-metadata = { workspace = true }
voter-stake-registry = { path = "../voter-stake-registry", features = ["no-entrypoint", "cpi"] }
shared-utils = { path = "../shared-utils" }
circuit-breaker = { path = "../circuit-breaker", features = ["cpi"] }
treasury-management = { path = "../treasury-management", features = ["cpi"] }
clockwork-sdk = { git = "https://github.com/clockwork-xyz/clockwork", version="2.0.1", rev="781b42fd06f2926899597ce5ea1f19b8ecd3d2e4" }

time = "0.3.17"
switchboard-v2 = { version = "0.1.17" }
spl-governance-tools = "0.1.3"

[dev-dependencies]
rust_decimal = "=1.26.0"
