**/target/
.git/
test-ledger/
**/node_modules/
packages/*/lib/
!packages/idls/lib/
packages/*/dist/
!packages/blockchain-api-client/dist/
packages/*/.next/
migration-docker/
*.md
.anchor
.vscode
.cursor
data/
accounts/
.changeset/
**/.turbo/
programs/
deps/
diagrams/
out/
yarn.lock
utils/
