.anchor
.DS_Store
target
**/*.rs.bk
node_modules
test-ledger
packages/*/lib
packages/helium-admin-cli/keypairs/
packages/helium-admin-cli/keypairs-prod/
**/*.tsbuildinfo
.parcel-cache
.vscode
**/*/transactions.json
**/*/transactions-with-lut.json
data/
packages/migration-service/data/
packages/migration-service/export.json
packages/migration-service/failures.json
migration-docker/data
accounts
packages/helium-vote-service/helium-vote-proxies/
packages/blockchain-api/helium-vote-proxies/
!packages/docsite/src/data
.cursor/*
.turbo/
