[submodule "deps/metaplex-program-library"]
	path = deps/metaplex-program-library
	url = https://github.com/metaplex-foundation/metaplex-program-library.git
[submodule "deps/helium-voter-stake-registry"]
	path = deps/helium-voter-stake-registry
	url = https://github.com/helium/voter-stake-registry
