.anchor
.DS_Store
target
**/*.rs.bk
node_modules
test-ledger
packages/*/lib
packages/helium-admin-cli/keypairs/
packages/helium-admin-cli/keypairs-prod/
**/*.tsbuildinfo
.parcel-cache
.vscode
yarn-error.log
**/*/transactions.json
**/*/transactions-with-lut.json
data/
packages/migration-service/data/
packages/migration-service/export.json
packages/migration-service/failures.json
migration-docker/data
accounts
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
packages/helium-vote-service/helium-vote-proxies/
!packages/docsite/src/data
