[features]
seeds = true

[programs.localnet]
lazy_distributor = "1azyuavdMyvsivtNxPoz6SucD18eDHeXzFCUPq5XU7w"
helium_sub_daos = "hdaoVTCqhfHHo75XdAMxBKdUqvq1i5bF23sisBqVgGR"
data_credits = "credMBJhYFzfn7NxBMdU4aUqFggAjgztaCcv2Fo6fPT"
helium_entity_manager = "hemjuPXBpNvggtaUnN1MwT3wrdhttKEfosTcc2P9Pg8"
circuit_breaker = "circAbx64bbsscPbQzZAUvuXpHqrCe6fLMzc2uKXz9g"
treasury_management = "treaf4wWBBty3fHdyBpo35Mz84M8k3heKXmjmi9vFt5"
lazy_transactions = "1atrmQs3eq1N2FEYWu6tyTXbCjP4uQwExpjtnhXtS8h"
voter_stake_registry = "hvsrNC3NKbcryqDs2DocYHZ9yPKEVzdSjQG6RVtK1s8"

[workspace]
members = [
  "programs/lazy-distributor",
  "programs/data-credits",
  "programs/helium-sub-daos",
  "programs/helium-entity-manager",
  "programs/circuit-breaker",
  "programs/treasury-management",
  "programs/lazy-transactions",
  "programs/voter-stake-registry",
]

[registry]
url = "https://anchor.projectserum.com"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.test.json -t 1000000 tests/**/*.ts"
build-deps = "anchor run build-metadata && anchor run build-bubblegum && anchor run build-noop && anchor run build-account-compression && anchor run build-clockwork"
build-metadata = "cd deps/metaplex-program-library/token-metadata/program && pwd && cargo build-bpf && cd ../../../../"
build-bubblegum = "pushd deps/metaplex-program-library && pwd && anchor build -p mpl_bubblegum && popd"
build-noop = "pushd deps/solana-program-library/account-compression/programs/noop && pwd && cargo build-bpf && popd"
build-account-compression = "pushd deps/solana-program-library/account-compression/programs/account-compression && pwd && cargo build-bpf && popd"
build-clockwork = "pushd deps/clockwork && ./scripts/build-all.sh . && popd"

[test]
startup_wait = 15000

[test.validator]
url = "https://api.mainnet-beta.solana.com"

[[test.genesis]]
address = "metaqbxxUerdq28cj1RbAWkYQm3ybzjb6a8bt518x1s"
program = "./deps/metaplex-program-library/token-metadata/target/deploy/mpl_token_metadata.so"

[[test.genesis]]
address = "BGUMAp9Gq7iTEuizy4pqaxsTyUCBK68MDfK752saRPUY"
program = "deps/metaplex-program-library/bubblegum/program/target/deploy/mpl_bubblegum.so"

[[test.genesis]]
address = "noopb9bkMVfRPU8AsbpTUg8AQkHtKwMYZiFUjNRtMmV"
program = "./deps/solana-program-library/account-compression/target/deploy/spl_noop.so"

[[test.genesis]]
address = "cmtDvXumGCrqC1Age74AVPhSRVXJMd8PJS91L8KbNCK"
program = "./deps/solana-program-library/account-compression/target/deploy/spl_account_compression.so"

[[test.genesis]]
address = "F8dKseqmBoAkHx3c58Lmb9TgJv5qeTf3BbtZZSEzYvUa"
program = "./deps/clockwork/lib/clockwork_network_program.so"

[[test.genesis]]
address = "CLoCKyJ6DXBJqqu2VWx9RLbgnwwR6BMHHuyasVmfMzBh"
program = "./deps/clockwork/lib/clockwork_thread_program.so"

[[test.genesis]]
address = "E7p5KFo8kKCDm6BUnWtnVFkQSYh6ZA6xaGAuvpv8NXTa"
program = "./deps/clockwork/lib/clockwork_webhook_program.so"

[[test.validator.clone]]
address = "hgovkRU6Ghe1Qoyb54HdSLdqN7VtxaifBzRmh9jtd3S" # spl governance program

[[test.validator.clone]]
address = "ENmcpFCpxN1CqyUjuog9yyUVfdXBKF3LVCwLr7grJZpk" # required by spl governance 

# Pyth price oracle
[[test.validator.clone]]
address = "JBu1AL4obBcCMqKBBxhpWCNUt136ijcuMZLFvTP7iWdB"

# Switchboard program
[[test.validator.clone]]
address = "SW1TCH7qEPTdLsDHRgPuMQjbQxKdH2aBStViMFnt64f"

# Switchboard aggregator
[[test.validator.clone]]
address = "E3cqnoFvTeKKNsGmC8YitpMjo2E39hwfoyt2Aiem7dCb"

# Switchboard aggregator
[[test.validator.clone]]
address = "GvDMxPzN1sCj7L26YDK2HnMRXEQmQ2aemov8YBtPS7vR"

# Switchboard aggregator history
[[test.validator.clone]]
address = "Fi8vncGpNKbq62gPo56G4toCehWNy77GgqGkTaAF5Lkk"

# [[test.validator.clone]]
# address = "metaqbxxUerdq28cj1RbAWkYQm3ybzjb6a8bt518x1s"

# [[test.validator.clone]]
# address = "BGUMAp9Gq7iTEuizy4pqaxsTyUCBK68MDfK752saRPUY"

# [[test.validator.clone]]
# address = "noopb9bkMVfRPU8AsbpTUg8AQkHtKwMYZiFUjNRtMmV"

# [[test.validator.clone]]
# address = "cmtDvXumGCrqC1Age74AVPhSRVXJMd8PJS91L8KbNCK"
