[workspace]
members = [
  "programs/*"
]
exclude = [
  "deps/metaplex-program-library/bubblegum/program", 
  "deps/metaplex-program-library/token-metadata/program",
  "utils/ecc-sig-verifier",
  "utils/migration-tx-executor",
  "utils/vehnt",
  "utils/hpl-utils",
  "utils/bulk-claim-rewards",
]

[workspace.dependencies]
anchor-lang = { version = "0.26.0", features = ["init-if-needed"] }
anchor-spl = { version = "0.26.0", features = ["mint", "token"] }
mpl-token-metadata = { version = "1.11.0", features = ["no-entrypoint"] }
account-compression-cpi = {rev = "9707a03", git = "https://github.com/helium/account-compression-anchor-gen.git", features = ["cpi"]}
bubblegum-cpi = {rev = "9707a03", git = "https://github.com/helium/account-compression-anchor-gen.git", features = ["cpi"]}
