[workspace]
members = [
  "programs/*"
]
exclude = [
  "deps/metaplex-program-library/bubblegum/program", 
  "deps/metaplex-program-library/token-metadata/program",
  "utils/ecc-sig-verifier",
  "utils/migration-tx-executor",
  "utils/vehnt",
  "utils/hpl-utils",
  "utils/bulk-claim-rewards",
  "utils/active-hotspot-oracle",
]

[workspace.dependencies]
anchor-lang = { version = "0.26.0", features = ["init-if-needed"] }
anchor-spl = { version = "0.26.0", features = ["mint", "token"] }
mpl-token-metadata = { version = "1.11.0", features = ["no-entrypoint"] }
spl-account-compression = { git = "https://github.com/ChewingGlass/solana-program-library", branch = "feature/anchor-26", version="0.1.5", features = ["cpi"] }
mpl-bubblegum = {version = "0.8.0", features = ["cpi"]}
