[package]
name = "hpl-utils"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
solana-client = "1.16.13"
serde_json = "1.0"
reqwest = { version = "0.11.13", features = ["blocking", "json"]  }
serde = "1.0.152"
solana-sdk = "1.16.13"
indicatif = "0.17.6"
bincode = "1.3.3"
warp = "0.3.3"
futures = "0.3.25"
lazy_static = "1.4.0"
bs58 = "0"
sha2 = "0.10"
clap = {version = "4", features = ["derive"]}
spl-associated-token-account = { version = "*", features = [ "no-entrypoint" ] }
anyhow = "1.0.71"
thiserror = "1"

