cargo-features = ["workspace-inheritance"]

[package]
name = "voter-stake-registry"
version = "0.0.6"
description = "Heliums voter weight plugin for spl-governance"
license = "GPL-3.0-or-later"
homepage = "https://github.com/helium/helium-program-library"
edition = "2021"

[lib]
crate-type = ["cdylib", "lib"]
name = "voter_stake_registry"

[features]
devnet = []
no-genesis = []
no-entrypoint = []
no-idl = []
no-log-ix-name = []
cpi = ["no-entrypoint"]
default = []

[profile.release]
overflow-checks = true

[dependencies]
anchor-lang = { workspace = true }
anchor-spl = { workspace = true }
bytemuck = "1.12.3"
# WARNING: Be careful about upgrading the spl-governance dependency!
#          Recently the discriminator for new VoterWeightRecord accounts has changed, and upgrading
#          this dependency here without also upgrading the spl-governance program instance beforehand
#          would lead to VWR accounts that are unusable until the spl-governance program is upgraded.
spl-governance = { version = "3.1.0", features = ["no-entrypoint"] }
spl-governance-addin-api = "0.1.3"
solana-program = "1.14.10"
static_assertions = "1.1"
mpl-token-metadata = { workspace = true }
itertools = "0.10.2"
spl-governance-tools=  "0.1.3"
proposal = { path = "../../utils/proposal" }
shared-utils = { path = "../../utils/shared-utils" }

[dev-dependencies]
solana-sdk = "1.14.10"
solana-program-test = "1.14.10"
solana-logger = "1.14.10"
solana-banks-client = "1.14.10"
spl-associated-token-account = { version = "^1.0.3", features = ["no-entrypoint"] }
spl-token = { version = "^3.3.1", features = ["no-entrypoint"] }
bytemuck = "^1.7.2"
serde = "^1.0"
bincode = "^1.3.1"
log = "0.4.14"
env_logger = "0.9.0"
base64 = "0.13.0"

