[package]
name = "data-credits"
version = "0.1.0"
description = "Created with Anchor"
edition = "2021"

[lib]
crate-type = ["cdylib", "lib"]
name = "data_credits"

[features]
devnet = []
no-entrypoint = []
no-idl = []
no-log-ix-name = []
cpi = ["no-entrypoint"]
default = []

[profile.release]
overflow-checks = true

[dependencies]
anchor-lang = { version="0.26.0", features = ["init-if-needed"] }
anchor-spl = "0.26.0"
helium-sub-daos = { path = "../helium-sub-daos", features = ["cpi"] }
circuit-breaker = { path = "../circuit-breaker", features = ["cpi"] }
pyth-sdk-solana = { version = "0.7.0" }
lazy-transactions = { path = "../lazy-transactions", features = ["cpi"] }
