name: NPM Publish

env:
  SOLANA_CLI_VERSION: 2.1.6
  NODE_VERSION: 22.19.0

on:
  push:
    # Sequence of patterns matched against refs/tags
    tags:
      - "v*" # Push events to matching v*, i.e. v0.0.1

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/actions/setup/
      - uses: ./.github/actions/setup-anchor/
        with:
          node-version: ${{ env.NODE_VERSION }}
      - name: re create .npmrc file
        run: |
          cat << EOF > "$HOME/.npmrc"
            //registry.npmjs.org/:_authToken=$NPM_TOKEN
          EOF
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      - uses: ./.github/actions/build-anchor/
        with:
          testing: false
          devnet: false
      - uses: ./.github/actions/setup-ts/
      - name: Lerna Publish
        run: yarn release
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}