name: Tests

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
env:
  SOLANA_CLI_VERSION: 1.14.3
  NODE_VERSION: 18.12.1

jobs:
  test-rust-lint:
    name: Test Rust Lint
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/actions/setup/
      - uses: actions/cache@v2
        name: Cache Cargo registry + index
        id: cache-cargo-build
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
          key: cargo-${{ runner.os }}-cargo-build-${{ hashFiles('**/Cargo.lock') }}
      - run: cargo fmt -- --check
      - run: cargo clippy --all-targets -- -D warnings -A clippy::result_large_err -A clippy::too_many_arguments -A clippy::uninlined-format-args

  test-unit:
    name: Rust Unit Tests
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/actions/setup/
      - uses: actions/cache@v2
        name: Cache Cargo registry + index
        id: cache-cargo-build
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
          key: cargo-${{ runner.os }}-cargo-build-${{ hashFiles('**/Cargo.lock') }}
      - run: cargo test --lib

  build:
    name: Build Anchor
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/actions/build-anchor/
        with:
          testing: true

  test-contracts:
    needs: build
    name: Test Anchor Contracts
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        test:
          - tests/circuit-breaker.ts
          - tests/data-credits.ts
          - tests/distributor-oracle.ts
          - tests/helium-entity-manager.ts
          - tests/lazy-distributor.ts
          - tests/lazy-transactions.ts
          - tests/treasury-management.ts
          - tests/voter-stake-registry.ts
          - tests/fanout.ts
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/build-anchor/
        with:
          testing: true
      - name: Start Anchor Localnet
        run: ~/.cargo/bin/anchor localnet --skip-build --provider.wallet ~/.config/solana/id.json & sleep 2
      - name: Wait for localnet to start
        run: |
          while [[ "$(curl -s http://localhost:8899/health)" != "ok" ]]; do
            echo "Waiting for local Anchor network to start..."
            sleep 5
          done
      - run: ANCHOR_WALLET=${HOME}/.config/solana/id.json yarn run ts-mocha -p ./tsconfig.test.json -t 1000000 $TEST
        env:
          TESTING: true
          TEST: ${{ matrix.test }}
          ANCHOR_PROVIDER_URL: http://localhost:8899